<form id="search-bar">
	<input
	id="search-bar-field"
	type="text"
	name="search"
	placeholder="Search..."
	[ngModel]="searchInput | async"
	(ngModelChange)="searchInput.next($event)"
	required>
	<button id="search-bar-button" (click)="search()">Search</button>
</form>

<div id="products-grid">
	@for (product of this.products | async; track $index) {
		<div class="product-card">
			<img class="product-image" src="{{ product.image }}" alt="{{ product.name }}">
			<p class="product-name">{{ product.name }}</p>
			<p class="product-type">{{ product.type }}</p>
			<p class="product-price">{{ product.price }}</p>
			<button class="add-to-cart-button" (click)="addToCart(product)">Add to cart</button>
		</div>
	}
</div>