#wrapper {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5vw;

	font-size: 2rem;
}

#header-title {
	display: flex;
	align-items: center;

	height: 100%;
	margin-right: auto;
}

#header-title img {
	max-height: 100%;
	width: auto;
}

#header-search-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#header-menu {
	display: flex;
	margin-left: auto;
}

#header-menu fa-icon {
	margin: 0 2rem;
	cursor: pointer;
}

#hamburger {
	display: none;
}

@media screen and (max-width: 1000px) {
	#header-menu :not(#hamburger) {
		display: none;
	}

	#hamburger {
		display: flex;
	}	
}