<form id="loginform" [formGroup]="this.loginForm" (ngSubmit)="onSubmit()">
	<h1 id="title">{{ this.register ? 'Register' : 'Log In' }}</h1>
	<input id="logininput" formControlName="login" type="text" placeholder="login">
	<input id="passwordinput" formControlName="password" type="password" placeholder="password">
	<a id="switch" (click)="switch()">{{ this.register ? 'Already have an account ? Log In' : 'Don\'t have an account ? Register' }}</a>
	<button id="submitbutton" [disabled]="this.loginForm.invalid" type="">Submit</button>
</form>